# .gitignore

# Logs
*.log

# Dependency directories
node_modules/

# Build outputs
dist/
build/

# System files
.DS_Store
Thumbs.db

ActualAppDesign.txt

my admob
ca-app-pub-6352583751629598~7515668211