GOOGLE_WEB_RISK_API_KEY = AIzaSyBlR6zXh5-sxWkwooQ1wDSAddH1Im2ANns
WEBRISK_API_KEY = AIzaSyCGXnfK5JF2kgv6RV3G7THFQKCPZCTeRzA

FIREBASE_API_KEY = AIzaSyCOCOSQeJTUjybjr8U0ojYjaZrq3dFmV9E
FIREBASE_PROJECT_ID = qr-code-short-url
FIREBASE_STORAGE_BUCKET = qr-code-short-url.appspot.com
FIREBASE_GOOGLE_APP_ID = 1:445001187365:web:af480151ddb8def77f3fcc
FIREBASE_GCM_SENDER_ID = 445001187365
SHORT_URL_DOMAIN = qrsu.io
