<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApdyuazwVcUKYVC6PWn7sLU3Tjpi3t-I0</string>
	<key>GCM_SENDER_ID</key>
	<string>445001187365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rxradio.qrcodeshorturl</string>
	<key>PROJECT_ID</key>
	<string>qr-code-short-url</string>
	<key>STORAGE_BUCKET</key>
	<string>qr-code-short-url.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445001187365:ios:50474006b4e01bd27f3fcc</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs permission to save QR code images to your photo library.</string>
</dict>
</plist>